/*------------------------------------------------------------------
* Bootstrap Simple Admin Template
* Email: heyalexluna@gmail.com
* Version: 1.1
* Author: Alexis Luna
* Copyright 2019 Alexis Luna
* Website: https://github.com/mralexisluna/bootstrap-simple-admin-template
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Body / #body
2. Contents / #auth-content
3. Cards / .card
4. Miscellaneous
5. Adjustments to dafault behaviors
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1. Body / #body]
*/
body {
    background: #f1f1f1;
}

.wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    min-width: 100%;
    min-height: 100vh;
}

/*------------------------------------------------------------------
[2. Contents / #auth-content]
*/
.auth-content {
    position: relative;
    width: 480px;
    padding: 15px;
    z-index: 5;
}

/*------------------------------------------------------------------
[3. Cards / .card]
*/
.auth-content .card {
    margin-bottom: 0;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: rgba(0,0,0,.075);
}

.auth-content .card .card-block,
.auth-content .card .card-body {
    padding: 30px 25px;
}

.auth-content .form-control {
    background: #f4f7fa;
    min-height: 42px;
    line-height: 42px;
    font-size: 14px;
    padding: 10px 15px;
    height: 42px;
}

/*------------------------------------------------------------------
[4. Miscellaneous]
*/
.shadow-2 {
    -webkit-box-shadow: 0 10px 18px 0 rgba(62, 57, 107, 0.2);
    box-shadow: 0 10px 18px 0 rgba(62, 57, 107, 0.2);
}

p.text-muted {
    font-size: 13px;
}

/*------------------------------------------------------------------
[5. Adjustments to dafault behaviors]
*/
.btn {
    padding: 10px 20px;
    border-radius: 0.25rem;
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.wrapper a,
.wrapper p>a {
    color: #3e8ef7;
    font-weight: 600;
}