<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NERVE</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href={{ url_for('static', filename="vendor/bootstrap4/css/bootstrap.min.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="vendor/toastr/toastr.min.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="css/nerve.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="css/master.css") }}  rel="stylesheet">

    <script src=></script>
</head>
<body>
    <div class="wrapper">
        <div id="sidebar">{% include 'sidebar.html' %}</div>

        <div id="body">
            <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
                <button type="button" id="sidebarCollapse" class="btn btn-outline-light default-light-menu"><i class="fas fa-bars"></i><span></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto"> 
                        <li class="nav-item dropdown"> 
                            <div class="nav-dropdown">
                                <a href="" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-user-shield"></i><i style="font-size: .8em;" class="fas fa-caret-down"></i></a>
                                <div class="dropdown-menu dropdown-menu-right nav-link-menu">   
                                    <ul class="nav-list">
                                      <li><a href="https://github.com/PaytmLabs/nerve/issues" class="dropdown-item"><i class="fas fa-bug"></i> Report a Bug</a></li>
                                      <li><a href="/settings" class="dropdown-item"><i class="fas fa-cog"></i> Settings</a></li>
                                      <div class="dropdown-divider"></div>
                                      <li><a href="/logout" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                            {% if vuln_count %}
                            <span class="nav-item nav-link"> <i class="fas fa-bell"></i><span class="badge badge-danger">{{vuln_count}}</span>
                            {% else %}
                            <span class="nav-item nav-link"> <i class="fa fa-bell"></i><span class="badge badge-success">{{vuln_count}}</span> 
                            {% endif %}
                            </div>
                        </li>  
                        <li class="nav-item dropdown">
                          <div class="nav-dropdown">
                            {% if status == "Ready" %}
                            <span class="nav-item nav-link"> <span class="navbar-status c-green"><i class="fas fa-smile"></i> {{status}}</span> </span>
                            {% else %}
                            <span class="nav-item nav-link"> <span class="navbar-status c-white"> <i class="fa fa-spinner fa-spin"></i> {{status}}</span> </span> 
                            {% endif %}
                          </div>
                      </li>  
                    </ul>
                </div>
            </nav>
            
            <div class="content">
              <div class="container-fluid">
                  <div class="page-title">
                      <h3><i class="teal fas fa-laptop"></i> {{vuln.data.ip}}:{{vuln.data.port}}</h3>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 col-lg-12">
                      <div class="card">
                          <div class="card-header">Alert</div>
                          <div class="card-body">
                              <ul class="nav nav-tabs" id="myTab" role="tablist">
                                  <li class="nav-item">
                                      <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false">Details</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" id="mitigation-tab" data-toggle="tab" href="#result" role="tab" aria-controls="result" aria-selected="true">Result</a>
                                </li>
                                  <li class="nav-item">
                                      <a class="nav-link" id="mitigation-tab" data-toggle="tab" href="#mitigation" role="tab" aria-controls="mitigation" aria-selected="true">Mitigation</a>
                                  </li>

                              </ul>
                              <div class="tab-content" id="myTabContent">   
                                  <div class="tab-pane fade active show" id="details" role="tabpanel" aria-labelledby="details-tab">{% if vuln %} {{ vuln.data.rule_desc }}. {% endif %}</div>
                                  <div class="tab-pane fade" id="result" role="tabpanel" aria-labelledby="result-tab">{% if vuln %} {{ vuln.data.rule_details }}. {% endif %}</div>
                                  <div class="tab-pane fade" id="mitigation" role="tabpanel" aria-labelledby="mitigation-tab">{% if vuln %} {{ vuln.data.rule_mitigation }} {% endif %}</div>
                                  <hr>
                                  <a href="/alert/resolve/{{vuln.key}}">
                                    <button type="button" class="btn btn-square btn-success mb-2">Resolve</button>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
        </div>
    </div>

    <script src={{ url_for('static', filename="vendor/jquery3/jquery-3.4.1.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/bootstrap4/js/bootstrap.bundle.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/DataTables/datatables.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/fontawesome5/js/solid.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/fontawesome5/js/fontawesome.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/toastr/toastr.min.js") }}></script>
    <script src={{ url_for('static', filename="js/initiate-datatables.js") }}></script>
    <script src={{ url_for('static', filename="js/script.js") }}></script>


    {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
        <script>
        {% for category, message in messages %}
        toastr.{{category}}("{{ message }}");
        {% endfor %}
        </script>
     {% endif %}
    {% endwith %}
</body>

</html>