<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NERVANA</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href={{ url_for('static', filename="vendor/bootstrap4/css/bootstrap.min.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="vendor/toastr/toastr.min.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="css/nervana.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="css/master.css") }}  rel="stylesheet">

    <script src=></script>
</head>
<body>
    <div class="wrapper">
        <div id="sidebar">{% include 'sidebar.html' %}</div>

        <div id="body">
            <div id="navbar">{% include 'navbar.html' %}</div> 
            <div class="content">
              <div class="container-fluid">
                  <div class="page-title">
                      <h3><i class="teal fas fa-laptop"></i> {{vuln.data.ip}}:{{vuln.data.port}}</h3>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 col-lg-12">
                      <div class="card">
                          <div class="card-header">{{_('Alert')}}</div>
                          <div class="card-body">
                              <ul class="nav nav-tabs" id="myTab" role="tablist">
                                  <li class="nav-item">
                                      <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false">{{_('Details')}}</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" id="mitigation-tab" data-toggle="tab" href="#result" role="tab" aria-controls="result" aria-selected="true">{{_('Result')}}</a>
                                </li>
                                  <li class="nav-item">
                                      <a class="nav-link" id="mitigation-tab" data-toggle="tab" href="#mitigation" role="tab" aria-controls="mitigation" aria-selected="true">{{_('Mitigation')}}</a>
                                  </li>

                              </ul>
                              <div class="tab-content" id="myTabContent">   
                                  <div class="tab-pane fade active show" id="details" role="tabpanel" aria-labelledby="details-tab">{% if vuln %} {{ vuln.data.rule_desc }}. {% endif %}</div>
                                  <div class="tab-pane fade" id="result" role="tabpanel" aria-labelledby="result-tab" style="white-space: pre-wrap;">{% if vuln %} {{ vuln.data.rule_details }}. {% endif %}</div>
                                  <div class="tab-pane fade" id="mitigation" role="tabpanel" aria-labelledby="mitigation-tab">{% if vuln %} {{ vuln.data.rule_mitigation }} {% endif %}</div>
                                  <hr>
                                  <a href="/vulnerabilities">
                                     <button type="button" class="btn btn-square btn-info mb-2">{{_('Back')}}</button>
                                  </a>
                                  <a href="/alert/resolve/{{vuln.key}}">
                                    <button type="button" class="btn btn-square btn-success mb-2">{{_('Resolve')}}</button>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
        </div>
    </div>

    <script src={{ url_for('static', filename="vendor/jquery3/jquery-3.4.1.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/bootstrap4/js/bootstrap.bundle.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/DataTables/datatables.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/fontawesome5/js/solid.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/fontawesome5/js/fontawesome.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/toastr/toastr.min.js") }}></script>
    <script src={{ url_for('static', filename="js/initiate-datatables.js") }}></script>
    <script src={{ url_for('static', filename="js/script.js") }}></script>


    {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
        <script>
        {% for category, message in messages %}
        toastr.{{category}}("{{ message }}");
        {% endfor %}
        </script>
     {% endif %}
    {% endwith %}
</body>

</html>
