<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NERVE</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href={{ url_for('static', filename="vendor/bootstrap4/css/bootstrap.min.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="vendor/DataTables/datatables.min.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="vendor/toastr/toastr.min.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="css/nerve.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="css/master.css") }}  rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div id="sidebar">{% include 'sidebar.html' %}</div>

        <div id="body">
            <div id="navbar">{% include 'navbar.html' %}</div> 

            <div class="content">
              <div class="container-fluid">
                  <div class="page-title">
                      <h3>Assets</h3>
                  </div>
                  <div class="row">
                      <div class="col-md-12 col-lg-12">
                          <div class="card">
                              <div class="card-header">Assets</div>
                              <div class="card-body">
                                  <p class="card-title"></p>
                                  <table class="table table-hover" id="dataTables-example" width="100%">
                                      <thead>
                                          <tr>
                                              <th>#</th>
                                              <th>IP Address</th>
                                              <th>Domain</th>
                                              <th>Ports</th>
                                              <th>Services</th>
                                              <th>Operating System</th>
                                          </tr>
                                      </thead>
                                      {% if data %}
                                      {% for d, values in data.items() %}
                                    <tr>
                                      <td>{{loop.index}}.</td>
                                      <td><a href="http://geoiplookup.net/ip/{{d[4:]}}" target="_blank">{{d[4:]}}</a></td>
                                      <td>
                                        {% if values.domain %}
                                            <a href="https://whois.domaintools.com/{{values.domain}}" target="_blank">{{values.domain}}</a>
                                        {% else %}
                                        N/A
                                        {% endif %}
                                      </td>
                                      <td>
                                        <h6>
                                        {% for port in values.ports %}
                                        <span class="badge badge-info">{{port}}</span>
                                        {% endfor %}
                                        </h6>
                                      </td>
                                      <td>
                                        <h6>
                                        {% for key, value in values.port_data.items() %}
                                      <span class="badge badge-secondary">{{value.product}}</span>
                                      {% endfor %}
                                    </h6>
                                    </td>
                                    <td>
                                        <h6><span class="badge badge-primary">{% if values.os %} {{values.os}} {% endif %}</span></h6>
                                    </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                          
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>

    <script src={{ url_for('static', filename="vendor/jquery3/jquery-3.4.1.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/bootstrap4/js/bootstrap.bundle.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/DataTables/datatables.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/fontawesome5/js/solid.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/fontawesome5/js/fontawesome.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/toastr/toastr.min.js") }}></script>
    <script src={{ url_for('static', filename="js/initiate-datatables.js") }}></script>
    <script src={{ url_for('static', filename="js/script.js") }}></script>    
    
    {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
        <script>
        {% for category, message in messages %}
        toastr.{{category}}("{{ message }}");
        {% endfor %}
        </script>
     {% endif %}
    {% endwith %}
</body>

</html>
