<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NERVANA</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href={{ url_for('static', filename="vendor/bootstrap4/css/bootstrap.min.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="vendor/toastr/toastr.min.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="css/nervana.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="css/master.css") }}  rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div id="sidebar">{% include 'sidebar.html' %}</div>

        <div id="body">
            <div id="navbar">{% include 'navbar.html' %}</div>
 
            <div class="content">
                <div class="container-fluid">
                    <div class="page-title">
                        <h3>{{_('Quick Start')}}</h3>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-header">{{_('Quick Start')}}</div>
                              <div class="card-body">
                                  <p class="card-title">{{_('This is the')}} <b>{{_('quickest')}}</b> {{_('way to get started.')}}</p>
                                  <p>{{_('The quick start method uses predefined settings as we see fit. You can find the scan definitions')}} <a href="/documentation#quickstart" target="_blank">{{_('here')}}</a>.</p>
                                  <p>{{_('All you need to do is define the network and click')}} <span   style="font-weight:bold">{{_('GO!')}}</span></p>
                                  <div class="form-group row">
                                    <label class="col-sm-2">{{_('CIDR Network')}}<br>
                                        <small class="form-text text-muted"><a href="https://www.ipaddressguide.com/cidr" target="_blank">{{_('What is CIDR?')}}</a></small>
                                    </label>
                                    <div class="col-sm-10">
                                        <form method="POST" action="/qs" class="form-inline" accept-charset="utf-8">
                                          <div class="form-group">
                                              <label for="username" class="sr-only">{{_('Network')}}</label>
                                              <input type="text" size="30" name="network" placeholder="192.168.0.0/24" class="form-control">
                                          </div>
                                          <div class="form-group">
                                              <button type="submit" class="btn btn-success">{{_('GO!')}}</button>
                                          </div> 
                                      </form>
                                      <div>    
                                    </div>
                                    </div>
                                </div>
                              </div>    
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src={{ url_for('static', filename="vendor/jquery3/jquery-3.4.1.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/bootstrap4/js/bootstrap.bundle.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/fontawesome5/js/solid.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/fontawesome5/js/fontawesome.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/toastr/toastr.min.js") }}></script>
    <script src={{ url_for('static', filename="js/script.js") }}></script>

    {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
        <script>
        {% for category, message in messages %}
        toastr.{{category}}("{{ message }}");
        {% endfor %}
        </script>
     {% endif %}
    {% endwith %}
</body>

</html>
