<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NERVE</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href={{ url_for('static', filename="vendor/bootstrap4/css/bootstrap.min.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="vendor/toastr/toastr.min.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="css/nerve.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="css/master.css") }}  rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div id="sidebar">{% include 'sidebar.html' %}</div>

        <div id="body">
            <div id="navbar">{% include 'navbar.html' %}</div>
 
            <div class="content">
                <div class="container-fluid">
                    <div class="page-title">
                        <h3>Reports</h3>
                    </div>
                    <p><medium>Below you can download your latest assessment report in various formats.</medium></p>
                    <div class="row">
                      <div class="col-md-3">
                        
                        <div class="card">
                            <div class="card-header"><b>Detailed Report (HTML)</b></div>
                            <div class="card-body">
                                <center><a href="/download/report_html"><img src="static/img/report.png" width="150px" height="150px"/></a></center>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header"><b>Raw Report (TXT)</b></div>
                            <div class="card-body">
                                <center><a href="/download/report_txt"><img src="static/img/report_txt.png" width="150px" height="150px"/></a></center>
                            </div>  
                        </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card">
                          <div class="card-header"><b>Raw Report (CSV)</b></div>
                          <div class="card-body">
                              <center><a href="/download/report_csv"><img src="static/img/report_csv.png" width="150px" height="150px"/></a></center>
                          </div>
                      </div>
                  </div>  
                  <div class="col-md-3">
                    <div class="card">
                        <div class="card-header"><b>Raw Report (XML)</b></div>
                        <div class="card-body">
                            <center><a href="/download/report_xml"><img src="static/img/report_xml.png" width="150px" height="150px"/></a></center>
                        </div>
                    </div>
                </div>  
                </div>
                </div>
            </div>
        </div>
    </div>

    <script src={{ url_for('static', filename="vendor/jquery3/jquery-3.4.1.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/bootstrap4/js/bootstrap.bundle.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/fontawesome5/js/solid.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/fontawesome5/js/fontawesome.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/toastr/toastr.min.js") }}></script>
    <script src={{ url_for('static', filename="js/script.js") }}></script>

    {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
        <script>
        {% for category, message in messages %}
        toastr.{{category}}("{{ message }}");
        {% endfor %}
        </script>
     {% endif %}
    {% endwith %}
</body>

</html>
