<div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                
                <a href="/"><img src={{ url_for('static', filename="/img/nervana_logo_noback.png") }} class="app-logo" width="160px" height="50px"></a>
                <span class="app-logo"><b> <span class="logo-text">  v.{{version}} </span></b></span>
            </div>
            <ul class="list-unstyled components">
              <li>
                <a href="/qs"><i class="fas fa-home"></i>{{_(' Quick Start')}}</a>
               </li>  
               <li>
                <a href="/dashboard"><i class="fas fa-rocket"></i>{{_(' Dashboard')}}</a>
               </li>  
               <li>
                <a href="/assets"><i class="fas fa-laptop"></i>{{_(' Assets')}}</a>
              </li>
               <li>
                <a href="/assessment"><i class="fas fa-crosshairs"></i>{{_(' Assessment')}}</a>
              </li>
               <li>
                <a href="/topology"><i class="fas fa-network-wired"></i>{{_(' Network Topology')}}</a>
                </li>
                <li>
                    <a href="/vulnerabilities"><i class="fas fa-bug"></i>{{_(' Vulnerabilities')}}</a>
                </li>
                <li>
                    <a href="/reports"><i class="fas fa-file"></i>{{_(' Reports')}}</a>
                </li>
                <li>
                    <a href="/console"><i class="fas fa-desktop"></i>{{_(' Console')}}</a>
                </li>
                <li>
                    <a href="#authmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-university"></i>{{_(' Documentation')}}</a>
                    <ul class="collapse list-unstyled" id="authmenu">
                        <li>
                            <a href="/documentation#gui"><i class="fas fa-info"></i>{{_(' Usage')}}</a>
                        </li>
                        <li>
                            <a href="/documentation#api"><i class="fas fa-code"></i>{{_(' Developer API')}}</a>
                        </li>
                        <li>
                            <a href="/documentation#add_scripts"><i class="fas fa-plus"></i>{{_(' Add new scripts guide')}}</a>
                        </li>
                    </ul>
                </li>
                {% if frequency == "continuous" %}
                <li>
                    <a href="/startover"><i class="fas fa-history"></i>{{_(' Reset System')}}</a>
                </li>
                <hr>
                 <center><span class="scan_type_indicator">{{_('Continuous Scan Mode')}}</span></center>
                {% endif %}
                <hr>
                <center><span><a class="withlove" href="https://github.com/TomasTorresB/nervana" target="_blank"><i class="fas fa-star c-darkorange"></i>{{_(' Star us on GitHub')}}</a></span></center>
            </ul>
            
        </nav>

</div>
