<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NERVE</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href={{ url_for('static', filename="vendor/bootstrap4/css/bootstrap.min.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="vendor/DataTables/datatables.min.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="vendor/toastr/toastr.min.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="css/nerve.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="css/master.css") }}  rel="stylesheet">


</head>

<body>
    <div class="wrapper">
        <div id="sidebar">{% include 'sidebar.html' %}</div>

        <div id="body">
            <div id="navbar">{% include 'navbar.html' %}</div>
 
            <div class="content">
              <div class="container-fluid">
                  <div class="page-title">
                      <h3>Vulnerabilities</h3>
                  </div>
                  <div class="row">
                      <div class="col-md-12 col-lg-12">
                          <div class="card">
                              <div class="card-header">Vulnerabilities</div>
                              <div class="card-body">
                                  <p class="card-title"></p>
                                  <table class="table table-hover" id="dataTables-vulnerabilities" width="100%">
                                      <thead>
                                          <tr>
                                              <th>#</th>
                                              <th>Target</th>
                                              <th>Domain</th>
                                              <th>Port</th>
                                              <th>Severity</th>
                                              <th>Result</th>
                                              <th>Actions</th>
                                          </tr>
                                      </thead>
                                      {% if data %}
                                      {% for key, value in data.items() %}
                                      <tr>
                                         <td>{{loop.index}}.</td>
                                         <td>{{value.ip}}</td>
                                         <td>{% if value.domain %} {{value.domain}} {% else %} N/A {% endif %}</td>
                                         <td>{{value.port}}</td>
                                         {% if value.rule_sev == 0 %}
                                         <td><span class="informational">Informational</td> 
                                        {% elif value.rule_sev == 1 %}
                                        <td><span class="low">Low</td>
                                        {% elif value.rule_sev == 2 %}
                                        <td><span class="medium">Medium</td>
                                        {% elif value.rule_sev == 3 %}
                                        <td><span class="high">High</span></td>
                                        {% elif value.rule_sev == 4 %}
                                        <td><span class="critical">Critical</td>
                                        {% elif value.rule_sev == 5 %}
                                        <td><span class="undefined">Undefined</td>
                                        {% elif value.rule_sev == 6 %}
                                        <td><span class="potential">Potential</td>
                                        {% endif %}
                                         <td>{{value.rule_confirm}}</td>
                                         <td>
                                            <a href="/alert/view/{{key}}">
                                            <button type="button" class="btn btn-outline-info mb-2">View</button>
                                            </a>
                                            <a href="/alert/resolve/{{key}}">
                                                <button type="button" class="btn btn-outline-success mb-2">Resolve</button>
                                            </a>
                                        </td>
                                       </tr>
                                       {% endfor %}
                                       {% endif %}
                          
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
        </div>
    </div>

    <script src={{ url_for('static', filename="vendor/jquery3/jquery-3.4.1.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/bootstrap4/js/bootstrap.bundle.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/DataTables/datatables.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/fontawesome5/js/solid.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/fontawesome5/js/fontawesome.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/toastr/toastr.min.js") }}></script>
    <script src={{ url_for('static', filename="js/initiate-datatables.js") }} ></script>
    <script src={{ url_for('static', filename="js/script.js") }}></script>

    {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
        <script>
        {% for category, message in messages %}
        toastr.{{category}}("{{ message }}");
        {% endfor %}
        </script>
     {% endif %}
    {% endwith %}
</body>

</html>
