<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NERVANA</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href={{ url_for('static', filename="vendor/bootstrap4/css/bootstrap.min.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="vendor/toastr/toastr.min.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="css/nervana.css") }}  rel="stylesheet">
    <link href={{ url_for('static', filename="css/master.css") }}  rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div id="sidebar">{% include 'sidebar.html' %}</div>

            <div id="body">
                <div id="navbar">{% include 'navbar.html' %}</div>
            
            <div class="content">
                <div class="container-fluid">
                    <div class="page-title">
                        <h3>{{_('Hi!')}}</h3>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-header">{{ _('About')}}</div>
                              <div class="card-body">
                                  <p class="card-title">{{_('Welcome to')}} <b>NERVANA</b>, {{_('the')}} <b>N</b>etwork <b>E</b>xploitation, <b>R</b>econnaissance & <b>V</b>ulnerability <b>A</b>pparatus with <b>N</b>map <b>A</b>dditions</p>
                                  <p>{{ _('Its purpose is to scan and identify short and long lived security flaws using one-time or continous scan modes on a given network or host.')}}</p>
                                  <p>{{ _('This can be achieved either programmatically via the')}} <a href="/documentation">API</a> {{_('or using the Graphical User Interface')}}</p>
                                  <p><b>{{_('How does it work?')}}</b></p>
                                  <ol>
                                    <li> 
                                     {{_('You configure your network or domain list')}} <i>e.g. 172.15.0.0/24</i> 
                                    </li>
                                    <li>
                                     {{_('You define which attacks to run (Brute Force, etc.)')}}
                                    </li>
                                    <li>
                                      {{_('You run the assessment...')}}
                                    </li>
                                    <li>
                                      {{_('You wait for the results!')}}
                                    </li>
                                  </ol>
                                  <center><img src="/static/screenshots/diagram-en.png" style="width: 70vw; min-width: 600px;"/></center>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src={{ url_for('static', filename="vendor/jquery3/jquery-3.4.1.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/bootstrap4/js/bootstrap.bundle.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/fontawesome5/js/solid.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/fontawesome5/js/fontawesome.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/toastr/toastr.min.js") }}></script>
    <script src={{ url_for('static', filename="js/script.js") }}></script>
</body>
</html>
